body {
  display: flex;
  height: 100vh;
  min-height: 420px;
  width: 100vw;
  min-width: 560px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  margin: 0px;
  background-color: rgb(46, 46, 59);
}

.content {
  display: flex;
  min-height: 420px;
  min-width: 560px;
  justify-content: center;
}

.background {
  position: relative;
}

#background-image {
  max-height: 100vh;
  min-height: 420px;
  max-width: 50vw;
  min-width: 280px;
  vertical-align: middle;
}

#logo-container {
  position: absolute;
  width: 5px;
  height: 20vh;
  background-color: black;
  top: 20vh;
}

#image-credit {
  position: absolute;
  width: 5px;
  height: 8vh;
  max-height: 2em;
  background-color: black;
  bottom: 4vh;
}

.signup {
  max-height: 100vh;
  min-height: 420px;
  width: 50vw;
  min-width: 280px;
  background-color: whitesmoke;
}