* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  height: 100vh;
  min-height: 420px;
  width: 100vw;
  min-width: 560px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  margin: 0px;
  background-color: rgb(46, 46, 59);
}

.content {
  display: flex;
  min-height: 420px;
  min-width: 560px;
  justify-content: center;
}

.background {
  position: relative;
}

.background a {
  color: black;
}

#background-image {
  max-height: 100vh;
  min-height: 420px;
  max-width: 50vw;
  min-width: 280px;
  vertical-align: middle;
}

#logo-container {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 20%;
  min-height: 64px;
  background-color: black;
  top: 20%;
}

#logo-picture, #logo-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo-picture {
  max-height: 4em;
  margin: auto 0;
}

#logo-text {
  font-size: 4em;
  color: antiquewhite;
}

#image-credit {
  position: absolute;
  width: 100%;
  height: 1em;
  max-height: 2em;
  background-color: black;
  bottom: 1em;
  text-align: center;
}

#logo-container {
  background-color: rgba(0, 0, 0, 0.75);
}

#image-credit {
  background-color: rgba(0, 0, 0, 0);
}

.signup {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  min-height: 420px;
  max-width: 50vw;
  min-width: 280px;
  background-color: whitesmoke;
}

.signup * {
  font-family: 'Noto Sans', sans-serif;
}

.signup a {
  color: rgb(45, 110, 0);
}

.signup > div {
  padding: 0 2em;
  padding-right: 2em;
}

.message {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-bottom: 1vh;
}

.message > p {
  max-width: 50vw;
  min-width: 260px;
  font-size: 18px;
  margin-bottom: 1.5vh;
}

#information {
  display: flex;
  flex: 1 1 0;
  box-shadow: 4px 0px 4px 0px grey;
  padding-top: 16px;
  padding-bottom: 12px;
}

.signup-form {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
}

.signup-fieldset {
  display: flex;
  flex: 1 1 0;
  border: 0;
}

#form-legend {
  font-weight: 600;
  font-size: 24px;
}

.grid-container {
  display: grid;
  flex: 1 1 0;
  grid-template-columns: repeat(2, 50fr);
  grid-template-rows: repeat(3, 33fr);
}

.grid-container > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 60px;
}

div > input {
  max-width: 15vw;
}

.login-options {
  flex: 1 1 0;
}

#form-submit-container {
  margin-top: 1.5em;
  margin-bottom: 1em;
}

#submit-form-button {
  height: 40px;
  width: 240px;
  font-weight: 600;
  font-size: large;
  background-color: rgb(190, 255, 146);
  border-radius: 10px;
}
