* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  height: 100vh;
  min-height: 420px;
  width: 100vw;
  min-width: 720px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  margin: 0px;
  background-color: rgb(46, 46, 59);
  overflow: auto;
}

.content {
  display: flex;
  min-height: 420px;
  min-width: 720px;
  justify-content: center;
  overflow-x: hidden;
}

.background {
  position: relative;
  background-color: whitesmoke;
}

.background a {
  color: black;
}

#background-image {
  max-height: 100vh;
  min-height: 420px;
  max-width: 50vw;
  min-width: 360px;
  vertical-align: middle;
}

#logo-container {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 20%;
  min-height: 64px;
  background-color: black;
  top: 20%;
}

#logo-picture, #logo-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo-picture {
  max-height: 4em;
  margin: auto 0;
}

#logo-text {
  font-size: 4em;
  color: antiquewhite;
  font-family: 'Aboreto', cursive;
}

#image-credit {
  position: absolute;
  width: 100%;
  height: 1em;
  max-height: 2em;
  background-color: black;
  bottom: 1em;
  text-align: center;
}

#logo-container {
  background-color: rgba(0, 0, 0, 0.75);
}

#image-credit {
  background-color: rgba(0, 0, 0, 0);
}

.signup {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  min-height: 420px;
  max-width: 50vw;
  min-width: 360px;
  background-color: whitesmoke;
  overflow-y: auto;
  overflow-x: hidden;
}

.signup * {
  font-family: 'Noto Sans', sans-serif;
}

.signup a {
  color: rgb(45, 110, 0);
}

.message {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-bottom: 1vh;
  padding-left: 2em;
  padding-right: 2em;
}

.message > p {
  max-width: 50vw;
  min-width: 260px;
  font-size: 18px;
  margin-bottom: 1.5vh;
}

#information {
  display: flex;
  flex: 2 2 0;
  flex-direction: column;
  padding-bottom: 12px;
}

.signup-form {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
}

#form-legend, .grid-container, #form-submit-container, #login-container{
  padding-left: 2rem;
}

.signup-fieldset {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  border: 0;
}

#form-legend {
  box-shadow: 0px -8px 8px -8px grey;
  padding-top: 12px;
  font-weight: 600;
  font-size: 24px;
}

.grid-container {
  display: grid;
  flex: 1 1 0;
  grid-template-columns: repeat(2, 50fr);
  grid-template-rows: repeat(3, 33fr);
  box-shadow: 0px 8px 8px -6px grey;
  padding-bottom: 1em;
}

.grid-container > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 60px;
  font-weight: 300;
}

div > input {
  max-width: 15vw;
  min-width: 100px;
  border: 1px solid lightgray;
  border-radius: 8px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 14px;
}

input:focus-visible {
  border: 2px solid rgb(115, 192, 255);
  box-shadow: rgb(115, 192, 255);
  outline: none;
}

input:blank {
  border: 1px solid lightgray;
}

input:valid {
  border: 2px solid rgb(14, 190, 82);
}

#form-submit-container {
  margin-top: 1.5em;
  margin-bottom: 1em;
}

#submit-form-button {
  height: 40px;
  width: 240px;
  max-width: 30vw;
  font-weight: 600;
  font-size: large;
  background-color: rgb(190, 255, 146);
  border: 2px solid black;
  border-radius: 10px;
}

#login-container {
  flex: 1 1 0;
}
